body {
    font-size: 18px;
    position: relative;
    width: 100%;
    height: 100%;
}

button {
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

.longtext {
    width: 80%;
    margin: auto;
    text-align: justify;
}

#stimulus_id {
    font-size: 65px;
    font-family: Arial;
    text-align: center;
    position: fixed;
    top: 45%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
}

#stop_id {
    font-size: 35px;
    top: 35%;
    left: 50%;
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);
}

.btn_class {
    font-size: 22px;
    box-shadow: inset 0 2px 0 0 #B0B0B0;
    border: 1px solid #dcdcdc;
    border-radius: 5%;
    top: 75%;
    left: 50%;
    height: 120px;
    width: 120px;
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: #aaaaaa;
}

.pressd {
    background-color: #666666;
}

.btn_left {
    left: 19%;
}

.btn_right {
    left: 81%;
}


.container {
    position: fixed;
    border: 1px 0 solid #999;
    background-color: #c0c0c0;
    top: 10px;
    width: 20px;
    height: 40%;
    border-radius: 5px;
    transform: translateX(-50%);
}

.bar {
    background-color: #e60000;
    padding: 1%;
    text-align: right;
    border-radius: 5px;
    height: 0%;
}

.container:before {
  content: '';
  position: absolute;
  top: 75%;
  left: 0;
  border-top: 2px solid black;
  background: black;
  width: 100%;
  transform: translateY(-50%);
}
.container:after {
  content: '75%';
  position: absolute;
  top: 75%;
  transform: translate(-110%, -50%);
}
